@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
 1234 Zombie Street
    <br />
    Austin, Texas
    <br />
    555-ZOM-BIES
</address>

<address>
    <strong>Reviews:</strong>  <a href="~/Views/Reviews/Index.cshtml">Known Safe Havens</a>
    <br />
    <strong>Need a New Location?:</strong>  <a href="~/Views/Reviews/Create.cshtml">Find One!</a>
</address>